@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}

.card{
    margin:auto;
    max-width: 40rem;
    max-height: 96%;
    border-radius: 15px;
}
.card-title,.myPrice h1{
    font-family: 'Fraunces', sans-serif;
    font-size: 2.5rem;
}
.card-title{
    color: hsl(212, 21%, 14%);
}
.card-subtitle{
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
}

.card-subtitle, .card-text{
    color: hsl(228, 12%, 48%);
}

.myPrice h1{
    color:hsl(158, 36%, 37%);
}

.btn{
    background-color: hsl(158, 36%, 37%);
}

.btn:hover{
    background-color: hsl(212, 21%, 14%) ;
}